[Unit]
Description=Gunicorn instance 
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/srv/record2
Environment="PATH=/srv/record2/record2env/bin"
ExecStart=/srv/record2/record2env/bin/gunicorn --workers 3 --bind unix:record2.sock -m 007 wsgi:app

[Install]
WantedBy=multi-user.target